<html>
    <body>
        <h1>Login</h1>
        <form action="/login" method="post">
            <hr/>
            <em>Name</em><input type="text" name="username"/>
            <hr/>
            <em>Password</em><input type="password" name="password"/>
            <hr/>
            <em>Re-enter Password</em><input type="password" name="password2"/>
            <hr/>
            <input type="submit" value="Submit"/>
        </form>
        <p>Already signed up?<a href="/login">Login here!</a></p>
    </body>
</html>